.landing-page{
    display: flex;
    width: 40%;
    margin: auto;
    margin-top: 100px;
   
}
.landing-page img{
    width: 150px;
    height:400px;
}
.landing-page h2{
    align-self: center;
    color: green;
}
.landing-page button{
    color: green;
   border-radius: 5px;
   height: 30px;
   align-self: center;
   margin-top: 80px;
   margin-left: -100px;
   
}